.button, .button-danger, .button-submit
  padding 5px 10px
  border 1px solid #666
  border-radius 2px
  font-size 14px
  font-weight 600
  color #666
  background-color #fff
  transition color 0.3s ease-out, background-color 0.3s ease-out
  outline none

  &:hover, &:focus
    color #fff
    background-color #666
    transition: color 0.3s ease-in, background-color 0.3s ease-in

  &-danger:hover, &-danger:focus
    color #fff
    background-color firebrick
    transition: color 0.3s ease-in, background-color 0.3s ease-in

  &-submit
    background-color #017c4d
    color #fff

  &-submit:hover, &-sunmit:focus
    color #fff
    background-color #cead22

  &-margin

    &-right
      margin-right 10px

    &-left
      margin-left 10px