.post
  background-color white
  border-radius 5px
  padding 10px 10px
  margin-top 10px
  box-shadow: 7px 7px 5px #888888;

  &-title
    margin-top 0
    margin-bottom 10px

  &-text
    margin-bottom 10px

.side-right
  float right

.post-actions-container
  clear both
  padding-top 5px